body {
	background-image: url(../images/bg/login.jpg)
}

.page-header > h1 {
	font-family: 'Unlock', cursive;
	font-weight: 60px;
}

.page-header{
	margin-bottom: 25px;
	text-align: center;
	color: black;
	border: none !important;
}

.navbar{
	padding-top: 0px;
	border-radius: 0px !important;
	padding: 0rem 1rem !important;
}
.navbar-brand{
	padding: 10px 10px !important;
}
#welcome{
	position: absolute;
	right: 0px;
}
.navbar > ul > li{
	padding-left: 50%;
}
.alert-success{
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	width: 50% !important;
	overflow: auto !important;
	margin: auto !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	text-align: center;

}