body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedbe9+0,aac5de+17,6199c7+50,3a84c3+51,419ad6+59,4bb8f0+71,3a8bc2+84,26558b+100;Blue+Gloss */
background: #cedbe9; /* Old browsers */
background: -moz-linear-gradient(top, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=0 ); /* IE6-9 */
}
#form{
	margin-top: 50px;
	width: 75%;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 2px;
	border: 2px solid white;
	box-shadow: 2px;
	color: rgb(0, 0, 0);
}
.page-header{
	margin-top: 50px;
	text-align: center;
	color: black;
}
.text-muted{
	color: #4d4d4d !important;
}
.btn{
	margin: 0 auto;
	display: block;
	background-color: #005ce6;
}
.form-group{
	margin-top: 25px;
}
.error{
	    color: red;
}