.text-muted{
	color: #4d4d4d !important;
}
btn{
	margin: 0 auto;
	display: block;
	background-color: #005ce6;
}
.error{
	color: red;
}
.page-header{
	margin-top: 0px !important;
}
#container{
	width: 100%;
}


.table{
	background-color: white;
	color: black;
}

.status{
	text-align: center;
	color: white;
}

.btn-group{
	width: 100%;
}
.btn-group > button{
	width: 50% !important;
	
}
#sites{
	margin-right: auto;
	margin-left: auto;
}
#welcome{
	padding-right: 2rem;

}