<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet">

    <!-- Jquery and Bootstrap JS-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 

    <script>
      //Creating script root variable to use urls dynamically outside of the template
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <!-- Page specific head -->
    {% block head %}{% endblock %}
    
    <!-- Genericons core CSS -->
    <!--link href="{{ url_for('static', filename='vendor/genericons/genericons/genericons.css') }}" rel="stylesheet"-->

    <!-- Main css file -->
    <link href="{{ url_for('static', filename='css/all.css') }}" rel="stylesheet">
    <script src={{ url_for('static', filename='js/ajax_calls.js') }} ></script>

    <!--Adding menu bar to specific pages-->
    {% if "login" in url_for(request.endpoint) or "register" in url_for(request.endpoint) %}
    {% else %}

    <div class="page-header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          
        <a class ="navbar-brand" href="{{ url_for('stock') }}">DanielBCF<br><small class="text-muted">Stock management</small></a>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mFr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('stock') }}">Stock</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="COSSH">COSSH</a>
            </li>
            <!--Giving the link to products route for the manager only-->
            {% if "rob@devthe.com" in current_user.email %}
            <li class="nav-item">
              <a class="nav-link"  href="{{ url_for('products') }}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="{{ url_for('sites') }}">Sites</a>
              </li>
            {% endif %}               
          </ul>
        </div>
          <div id="collapse">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" panded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        <div id="welcome">
          <span>Hi {{ current_user.first_name }}! </span>
          <a href="{{ url_for('logout') }}">Logout</a>  
        </div>
      </div>
      
      </nav>
    </div>
    <script>
      $(document).ready(function () {
      $("#{{request.endpoint}}").addClass("active"); })
    </script>
    {% endif %}

  </head>

  <body>
    <!-- Main Content -->
    <!-- Wrap content with <main id="wrap"><main>
          when using the footer block to push the footer down. -->
    <main id="wrap">
      <div class=message_container>
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% endwith %}
      </div>
      {% block content %}{% endblock %}
    </main>

    <!-- The footer is placed within its own block to render properly -->
    {% block footer %}{% endblock %}

    <!-- Page specific script files -->
    {% block scripts %}{% endblock %}

  </body>
</html>
