{% extends "layout/base.html" %}
{% include "layout/nav.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/cossh.css') }}" rel="stylesheet" />
    <script src={{ url_for('static', filename='js/cossh.js') }} ></script>
    
    <title>Stock</title>
{% endblock %}

{% block content %}
    </div>

<div id="container">
    <input class="form-control" id="search" type="text" placeholder="Search..">
    <table class="table  table-bordered" id="cossh">
        <thead>
            <th>Name</th>
            <th>COSSH</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
<script>

</script>
{% endblock %}

{% block footer %}
    {% include "include/footer.html" %}
{% endblock %}
