{% from "include/_formhelpers.html" import render_field %}
{% extends "layout/base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
<div class="page-header">
    <h1>DanielBCF Stocks X</h1>
</div>
{% endblock %}

{% block content %}
<div class="container" id="form">
    <form method=post>
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.remember_me) }}
        {{ form.csrf_token }}
        <small id="register" class="form-text text-muted">Need anaccount? Register <a href="{{ url_for('register') }}">here</a>.</small>
        <input type=submit class="btn btn-primary" value=Login>
    </form>          
</div>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}

