{% from "include/_formhelpers.html" import render_field %}
{% extends "layout/base.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/products.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='open-iconic-master/font/css/open-iconic.css')}}" rel="stylesheet">
    <script src={{ url_for('static', filename='js/products.js') }} ></script>
    <title>Products</title>
{% endblock %}

{% block content %}
<div id="container">
        <button onclick="$('#modal').modal('show');"class="buttons" id="add"><img src="{{ url_for('static', filename='open-iconic-master/svg/plus.svg') }}" alt='plus'></button>
        <input class="form-control" id="search" type="text" placeholder="Search..">
        <table class="table  table-bordered" id="products">
            <thead>
                <th>Name</th>
                <th>ID</th>
                <th>Order Quantity</th>
                <th>COSSH</th>
            </thead>
            <tbody id="products_body">
            </tbody>
        </table>
</div>
<div class="modal" id="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <form method="post" id="form" onsubmit="return false;" novalidate>    
                <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <text id="modal-title">Add Product</text>
                            </button>
                            </div>
                            <div class="modal-body">   
                                {{ render_field(form.product_id) }}
                                {{ render_field(form.name) }}
                                {{ render_field(form.cossh) }}
                                {{ render_field(form.order_qty) }}
                                {{ render_field(form.edit) }}
                                {{ render_field(form.previous_id) }}
                                {{ form.csrf_token }}
                            </div>
                            <div class="modal-footer">
                            <button type="" class="btn change" type="button" class="btn" onclick="ajax_submit('products');">Submit</button>
                            <button type="button" class="btn" onclick="reset_modal();" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}

{% block footer %}
    {% include "include/footer.html" %}
{% endblock %}
