{% extends "layout/base.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/products.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='open-iconic-master/font/css/open-iconic.css')}}" rel="stylesheet">
    <script src={{ url_for('static', filename='js/products.js') }} ></script>
    
    <title>Products</title>
{% endblock %}

{% block content %}
<div id="container">
        <input class="form-control" id="search" type="text" placeholder="Search..">
        <table class="table  table-bordered" id="products">
            <thead>
                <th>Product</th>
                <th>Status</th>
                <th></th>
            </thead>
            <tbody id="products_body">
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}

{% block footer %}
    {% include "include/footer.html" %}
{% endblock %}
