{% from "include/_formhelpers.html" import render_field %}
{% extends "layout/base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
<title>Register</title>
{% endblock %}

{% block content %}
<div class="page-header">
<h1>Register</h1>
</div>
<div class="container" id="form">
    <form method="post" novalidate>
        {{ render_field(form.email) }}
        {{ render_field(form.first_name) }}
        {{ render_field(form.surname) }}

        <div class="row">
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
        </div>
        
        {{ form.csrf_token }}
        <input type="submit" class="submit btn btn-primary" value="Register">
    </form>          
</div>
{% endblock %}

{% block footer %}
    {% include "include/footer.html" %}
{% endblock %}
