{% from "include/_formhelpers.html" import render_field %}
{% extends "layout/base.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container" id="form">
    <form method=post>
        {{ render_field(form.email) }}
        {{ render_field(form.first_name) }}
        {{ render_field(form.surname) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{ render_field(form.accept_tos) }}
        {{ form.csrf_token }}
        <input type=submit value=Register>
    </form>          
</div>
{% endblock %}

{% block footer %}
    {% include "include/footer.html" %}
{% endblock %}
