{% from "include/_formhelpers.html" import render_field %}
{% extends "layout/base.html" %}
{% include "layout/nav.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/settings.css') }}" rel="stylesheet" />
<script src={{ url_for('static', filename='js/settings.js') }} ></script>
<title>Settings</title>
{% endblock %}

{% block content %}
<div id="container">
    <div id="wrap">
        <form method="post">
                {{ render_field(form.man_email, value=man_email) }}
                <small id="caution" class="form-text text-muted">CAUTION: As soon as you click update only this email is admin.</small>
                {{ render_field(form.sup_email, value=sup_email) }}
                {{ render_field(form.del_time, value=del_time) }}
                {{ form.csrf_token }}
                
               <center><input onclick="$('#modal_confirm').modal('show');" class="btn btn-primary" value="Update"></center>
        </form>      
    <div>
</div>
<div class="modal" id="modal_confirm" role="dialog" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title">Are you sure you would like to make this change?</h5>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn change" onclick="$('form').submit();" type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
                  <button type="button" class="btn" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}

{% block footer %}
    {% include "include/footer.html" %}
{% endblock %}
