{% extends "layout/base.html" %}

{% block head %}
    <h1>Stocks</h1>
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>            
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />  
{% endblock %}

{% block content %}
<div class="container" id="form">
    
    Hi {{ current_user.first_name }}!
    <a href="{{ url_for('logout') }}">Logout</a>  

    <div class="table-responsive" id="stock">
        <table id="employee_data">
            <thead>  
                <tr>  
                     <td>Name</td>
                     <li id="test">{{ slist }}</li>
                     <td>Status</td>  
                </tr>  
            </thead> 
        </table>
</div>
<script>
    $(function() {
        request.open('POST', {{ url_for('stock_list')|tojson }});
        $("#test").text(request.tojson())

        //$.getJSON('/stock_list', null, function(data) {
            //$("#test").text(data.result);
        //})
    });
</script>
{% endblock %}

{% block footer %}
    {% include "include/footer.html" %}
{% endblock %}
